<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>局部注册</title>
</head>
<body>

<div id="app">
    <select v-model="level">
        <option v-for="i in 3">{{i}}</option>
    </select>

    <addr-casecade-local label="出发地" :level="level" v-model=""></addr-casecade-local>
    <addr-casecade-local label="到达地"></addr-casecade-local>
</div>

<script src="../js/vue.js"></script>
<script src="../vue_test/pca.js"></script>
<script src="addr-casecade-local.js"></script>
<script>
    var app = new Vue({
        el : '#app',
        // 局部注册组件
        components:{
            'addr-casecade-local': addrCasecadeLocal
        },
        data :{
            level: 3
        },
        computed:{

        }
    });
</script>
</body>
</html>